In [2]:
import pymongo

client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')

mydb = client['Employee']

information = mydb.employeeinformation

records = {
        'firstname':'Dhananjay',
        'lastname':'Dubey',
        'department':'AI',
        'qualification':'Btech',
        'age':19
           }
information.insert_one(records)

In [3]:
records=[{
        'firstname':'John',
        'lastname':'Doe',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        
        },
         {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        
        },
        {
        'firstname':'Manish',
        'lastname':'Sen',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        
        },
        {
        'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        
        }]

In [4]:
information.insert_many(records)

In [5]:
## Simple way of querying
information.find_one()

{'_id': ObjectId('5fff2ab170dc171124e01f5d'),
 'firstname': 'Dhananjay',
 'lastname': 'Dubey',
 'department': 'AI',
 'qualification': 'Btech',
 'age': '19'}

In [6]:
## Select * from employeeinformation
for record in information.find({}):
    print(record)

{'_id': ObjectId('5fff2ab170dc171124e01f5d'), 'firstname': 'Dhananjay', 'lastname': 'Dubey', 'department': 'AI', 'qualification': 'Btech', 'age': '19'}
{'_id': ObjectId('5fff2ac270dc171124e01f5e'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('5fff2ac270dc171124e01f5f'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('5fff2ac270dc171124e01f60'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('5fff2ac270dc171124e01f61'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('5fff2ae770dc171124e01f63'), 'firstname': 'Dhananjay', 'lastname': 'Dubey', 'department': 'AI', 'qualification': 'Btech', 'age': 19}
{'_id': ObjectId('600074b85f975eff229e4af4'), 'firstname': 'Dhananjay', 'lastname': 'Dubey', 'department': 'AI', 'qualification': 'Btech', 'age': 19}
{'_id': ObjectId('600074b85f975eff229e4af5'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('600074b85f975eff229e4af6'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('600074b85f975eff229e4af7'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('600074b85f975eff229e4af8'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [7]:
## Query the json documents based on equality conditions
# Select * from employeeinformation where firstname=krish

for record in information.find({'firstname':'Dhananjay'}):
    print(record)

{'_id': ObjectId('5fff2ab170dc171124e01f5d'), 'firstname': 'Dhananjay', 'lastname': 'Dubey', 'department': 'AI', 'qualification': 'Btech', 'age': '19'}
{'_id': ObjectId('5fff2ae770dc171124e01f63'), 'firstname': 'Dhananjay', 'lastname': 'Dubey', 'department': 'AI', 'qualification': 'Btech', 'age': 19}
{'_id': ObjectId('600074b85f975eff229e4af4'), 'firstname': 'Dhananjay', 'lastname': 'Dubey', 'department': 'AI', 'qualification': 'Btech', 'age': 19}

In [8]:
## Query documents using query operators($in,$lt,$gt)
for record in information.find({'qualification':{'$in':['phd','master']}}):
    print(record)

{'_id': ObjectId('5fff2ac270dc171124e01f60'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('5fff2ac270dc171124e01f61'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('600074b85f975eff229e4af7'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('600074b85f975eff229e4af8'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [10]:
## And and Query operators
for record in information.find({'qualification':'master','age':{'$lt':35}}):
    print(record)

{'_id': ObjectId('5fff2ac270dc171124e01f61'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('600074b85f975eff229e4af8'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [13]:
## OR operators
for record in information.find({'$or':[{'firstname':'Manish'},{'qualification':'Btech'}]}):
    print(record)

{'_id': ObjectId('5fff2ae770dc171124e01f63'), 'firstname': 'Dhananjay', 'lastname': 'Dubey', 'department': 'AI', 'qualification': 'Btech', 'age': 19}
{'_id': ObjectId('600074b85f975eff229e4af4'), 'firstname': 'Dhananjay', 'lastname': 'Dubey', 'department': 'AI', 'qualification': 'Btech', 'age': 19}
{'_id': ObjectId('600074b85f975eff229e4af7'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}

In [3]:
inventory=mydb.inventory

In [4]:
inventory.insert_many([
    {"item": "canvas",
     "qty": 100,
     "size": {"h": 28, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "journal",
     "qty": 25,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "mat",
     "qty": 85,
     "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "mousepad",
     "qty": 25,
     "size": {"h": 19, "w": 22.85, "uom": "cm"},
     "status": "P"},
    {"item": "notebook",
     "qty": 50,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "P"},
    {"item": "paper",
     "qty": 100,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "D"},
    {"item": "planner",
     "qty": 75,
     "size": {"h": 22.85, "w": 30, "uom": "cm"},
     "status": "D"},
    {"item": "postcard",
     "qty": 45,
     "size": {"h": 10, "w": 15.25, "uom": "cm"},
     "status": "A"},
    {"item": "sketchbook",
     "qty": 80,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "sketch pad",
     "qty": 95,
     "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
     "status": "A"}])

In [5]:
inventory.update_one(
{"item":"sketch pad"},
{"$set":{"size.uom":"m","status":"P"},
"$currentDate":{"lastModified":True}}
)

In [6]:
inventory.update_many(
    {"qty": {"$lt": 50}},
    {"$set": {"size.uom": "in", "status": "P"},
     "$currentDate": {"lastModified": True}})

In [7]:
inventory.replace_one(
    {"item": "paper"},
    {"item": "paper",
     "instock": [
         {"warehouse": "A", "qty": 60},
         {"warehouse": "B", "qty": 40}]})

In [1]:
#MONGO-DB AGGREGRATE AND GROUP