In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

In [17]:
webpage = requests.get("https://www.ambitionbox.com/list-of-companies?page=2").text

In [18]:
soup = BeautifulSoup(webpage,"html.parser")

In [19]:
#print(soup.prettify())

In [20]:
for i in soup.find_all('h2'):
    print(i.text.strip())

Samsung
Maruti Suzuki
Indian Army
DXC Technology
Infosys BPM
Ericsson
Bajaj Finserv
HSBC
Ernst & Young
Startek
Jana Small Finance...
Conneqt Business S...
Dr. Reddy's
Cipla Pharmaceutic...
ICICI Prudential L...
Sutherland Global ...
Mphasis
Bajaj Allianz Life...
IDFC FIRST Bank
Home Credit Financ...
Lupin
Yes Bank
Asian Paints
Intelenet Global S...
HDFC LIFE
ITC
Hewlett-Packard En...
NTT DATA
Zydus Cadila

In [25]:
for i in soup.find_all('p',class_='rating'):
    print(i.text.strip())

4.1
4.1
4.7
3.5
4.0
4.2
4.0
4.1
3.7
3.6
3.9
3.8
4.2
4.0
4.1
3.8
3.7
4.1
3.8
4.2
4.2
3.9
4.3
3.7
4.1
4.0
4.3
3.8
4.1

In [27]:
company = soup.find_all('div',class_='company-content-wrapper')
len(company)

29

In [52]:
final=pd.DataFrame()

for j in range(1,333):
    url = "https://www.ambitionbox.com/list-of-companies?page={}".format(j)
    webpage = requests.get(url).text
    soup = BeautifulSoup(webpage,"html.parser")
    company = soup.find_all('div',class_='company-content-wrapper')

    company_name=[]
    rating=[]
    reviews=[]
    company_type=[]
    hq=[]
    old=[]
    employees=[]

    for i in company:
        company_name.append(i.find('h2').text.strip())
        rating.append(i.find('p').text.strip())
        reviews.append(i.find('a',class_='review-count').text.strip())
    
    for i in range(len(company)):    
        try:
            company_type.append(company[i].find_all('p',class_='infoEntity')[0].text.strip())
        except:
            company_type.append(np.nan)
        try:
            hq.append(company[i].find_all('p',class_='infoEntity')[1].text.strip())
        except:
            hq.append(np.nan)
        try:
            old.append(company[i].find_all('p',class_='infoEntity')[2].text.strip())
        except:
            old.append(np.nan)
        try:
            employees.append(company[i].find_all('p',class_='infoEntity')[3].text.strip())
        except:
            employees.append(np.nan)

    d = {'name':company_name, 'rating':rating, 'review':reviews, 'ct':company_type, 'hq':hq, 'old':old, 'employees':employees}        
    df = pd.DataFrame(d)
    final = final.append(df,ignore_index=True)

In [53]:
final

,name,rating,review,ct,hq,old,employees
0,TCS,3.9,(27.9k Reviews),Public,"Mumbai,Maharashtra + 208 more",54 years old,1 Lakh+ employees (India)
1,Accenture,4.0,(21.3k Reviews),Public,"Dublin,Dublin + 124 more",33 years old,1 Lakh+ employees (India)
2,Cognizant,3.9,(19.5k Reviews),Private,"Teaneck,New Jersey + 72 more",28 years old,1 Lakh+ employees (India)
3,ICICI Bank,4.0,(18.8k Reviews),Public,"Mumbai,Maharashtra + 908 more",28 years old,50k-1 Lakh employees (India)
4,HDFC Bank,4.0,(16.7k Reviews),Public,"Mumbai,Maharashtra + 979 more",28 years old,1 Lakh+ employees (India)
...,...,...,...,...,...,...,...
9952,Accord Software & ...,3.3,(38 Reviews),Private,"Bangalore/Bengaluru,Karnataka",31 years old,201-500 employees (Global)
9953,Nitin Spinners,4.0,(38 Reviews),Public,"Bhilwara,Rajasthan + 2 more",30 years old,1k-5k employees (Global)
9954,AnRak Aluminium,3.9,(38 Reviews),Private,"Visakhapatnam/Vizag,Andhra Pradesh + 4 more",15 years old,501-1k employees (Global)
9955,Ultratech India,3.7,(38 Reviews),Private,Navi Mumbai + 17 more,30 years old,501-1k employees (Global)
9956,YouTube,4.4,(38 Reviews),Private,"San Bruno,CA + 14 more",17 years old,10k-50k employees (India)

In [54]:
final.isnull().sum()

name            0
rating          0
review          0
ct             11
hq            174
old           576
employees    2671
dtype: int64

In [2]:
webpage = requests.get("https://fruitsandveggies.org/fruits-and-veggies/almonds/?view=facts").text

In [3]:
soup = BeautifulSoup(webpage,"html.parser")

In [4]:
for i in soup.find_all('h4'):
    
    print(i.text.strip())

SELECT
STORE
SERVE
Other Fruits & Veggies